<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <title>Task Tree | Organize Tasks</title>
    <%= csrf_meta_tags %>
     <%= stylesheet_pack_tag('app-bundle',
                          media: 'all',
                          'data-turbolinks-track': true) %>

    <!--  NOTE: Must use defer and not async to keep async scripts loading in correct order  -->
    <%= javascript_pack_tag('vendor-bundle', 'data-turbolinks-track': true, defer: true) %>
    <%= javascript_pack_tag('app-bundle', 'data-turbolinks-track': true, defer: true) %>
    <style>
      body {
        margin: 0px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
